#IDE specific
Hnefatafl/nbproject/*
Hnefatafl/.idea/*

#Builded files
/Hnefatafl/build/
/Hnefatafl/dist/
/Hnefatafl/out/


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
Hnefatafl/nbproject/private/private.xml
Hnefatafl/nbproject/private/private.properties
Hnefatafl/nbproject/private/config.properties
